In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("titanicsurvival.csv")
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [3]:
df["Survived"].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [4]:
pd.crosstab(df["Sex"],df["Survived"])

Survived    0    1
Sex
female     81  233
male      468  109

In [5]:
#mappig text data to binary value

from sklearn.preprocessing import LabelEncoder
cols=["Sex"]
le=LabelEncoder()
for col in cols:
    df[col]=le.fit_transform(df[col])
df.head(10)

   Pclass  Sex   Age     Fare  Survived
0       3    1  22.0   7.2500         0
1       1    0  38.0  71.2833         1
2       3    0  26.0   7.9250         1
3       1    0  35.0  53.1000         1
4       3    1  35.0   8.0500         0
5       3    1   NaN   8.4583         0
6       1    1  54.0  51.8625         0
7       3    1   2.0  21.0750         0
8       3    0  27.0  11.1333         1
9       2    0  14.0  30.0708         1

In [6]:
#segregate dataset into x&y

X=df.drop("Survived",axis="columns")
X

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    0  38.0  71.2833
2         3    0  26.0   7.9250
3         1    0  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    0  19.0  30.0000
888       3    0   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [7]:
Y=df.Survived
Y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [8]:
X.columns[X.isna().any()]

Index(['Age'], dtype='object')

In [9]:
X.Age=X.Age.fillna(X.Age.mean())

In [10]:
#splitting dataset into train & test

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [11]:
# training dataset

from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(X_train,Y_train)

GaussianNB()

In [12]:
#prediction for test data
y_pred=model.predict(X_test)

In [13]:
#accuracy model
from sklearn.metrics import accuracy_score
print("Acuuracy of the Model:{0}%".format(accuracy_score(y_pred,Y_test)*100))

Acuuracy of the Model:77.57847533632287%

In [14]:
#predict wheather person survived or not

pclass=int(input("enter person's pclass number:"))
gender=int(input("enter person's gender 0-female 1-male:"))
age=int(input("enter person's age:"))
fare=float(input("enter person's fare:"))
person=[[pclass,gender,age,fare]]
result=model.predict(person)
print(result)

if result==1:
    print("person should be survived")
else:
    print("person should not be survived")

enter person's pclass number:2
enter person's gender 0-female 1-male:1
enter person's age:33
enter person's fare:7.00
[0]
person should not be survived

C:\Users\Admin\Videos\Anoconda\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  warnings.warn(